.picture {
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin: 8px;
}

.picture-project {
  object-fit: cover;
  height: 250px;
  width: 360px;
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
